<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="plugins/js::js"></div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="layui-card-body layui-card">
<div style="display: flex">
    <div>
        <div>
            <form class="layui-form" id="goodForm" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">上级类型</label>
                    <div class="layui-input-block" style="width: 200px">
                        <select name="parentTypeId" lay-filter="aihao">
                            <option value="-1" selected="">根类型</option>
                            <option th:value="${t.goodsTypeId}" th:each="t:${types}" th:text="${t.typeName}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div>
                        <label class="layui-form-label">类型名称</label>
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="typeName" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div>
                        <label class="layui-form-label">排序数字</label>
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="sort" class="layui-input" lay-verify="required|number">
                        </div>
                    </div>
                </div>
                <!--<div class="layui-form-item">-->
                    <!--<div>-->
                        <!--<label class="layui-form-label">图标样式</label>-->
                        <!--<div class="layui-input-inline" style="width: 200px">-->
                            <!--<input type="text" name="iconClass" class="layui-input">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" id="commit" class="layui-btn"
                                lay-submit lay-filter="typeForm">确定添加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript" type="text/javascript">
    $(function () {
        layui.use(['table', 'form', 'layer'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            $("#commit").click(function () {
                alert("添加成功");
            })
            form.on('submit(typeForm)', function (data) {
                let formData = new FormData(data.form);
                $.ajax({
                    url: "/pages/back/type/add",// 请求数据服务器地址，只能是当前项目，JSONP才能访问外网（需要服务器配合才能用）
                    contentType: false,// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                    // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                    data: formData,// 要上传的参数
                    dataType: 'json',// 服务器响应数据：json,text,html,xml
                    processData: false,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                    success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                        if (res.res) {// 如果增加成功
                            layer.msg(res.msg);
                        }
                    },
                    type: 'post',// ajax请求的方式，post或get
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    })
</script>
</body>
</html>