<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--下面引入方式可以简化配置-->
<div th:replace="plugins/js::js"></div>
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<!--下面是cdu引入方式-->
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<script type="text/javascript"th:src="@{/layui/layui.js}"></script>
<!--下面是本地引入方式-->
<!-- 引入 layui.css -->
<link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
<!--&lt;!&ndash; 引入 layui.js &ndash;&gt;-->
<!--<script src="//unpkg.com/layui@2.6.8/dist/layui.js">
 </script>-->
<body>
<div style="position: absolute;left: 0;right: 0;top: 0;bottom: 0">
    <div style="display: flex;justify-content: center;margin-top: 15%">
        <form class="layui-form" th:action="@{/pages/front/regist}" id="regist" method="post">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                        <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password"  class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="nickName"  class="layui-input">
                    </div>
                </div>
                <div>
                    <label class="layui-form-label">真实姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" id="date"   class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" id="submit" class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript" type="text/javascript">
    $(function () {
        layui.use(['table', 'form', 'layer'], function () {
            var table = layui.table;
            //var layer = layui.layer;
            var form = layui.form;
            $("#submit").click(function () {
                //$("#pic").click();
                alert("注册成功");
            });
            $("#commit").click(function () {
                let text=editor.txt.html();
                console.log(text);
                $("#detail").val(text);

                $("#goodForm").submit();

            });

            form.on('submit(regist)', function (data) {
                // alert("你好");
                // console.log(data.elem);
                // console.log(data.form);
                // console.log(data.field);
                // return false;

                let text = editor.txt.html();
                $("#detail").val(text);
                let formData = new FormData(data.form);
                $.ajax({
                    url: "/pages/front/regist",// 请求数据服务器地址，只能是当前项目，JSONP才能访问外网（需要服务器配合才能用）
                    contentType: false,// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                    // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                    data: formData,// 要上传的参数
                    dataType: 'json',// 服务器响应数据：json,text,html,xml
                    processData: false,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                    success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                        if (res.res) {// 如果增加成功
                            layer.msg(res.msg);
                        }
                    },
                    type: 'post',// ajax请求的方式，post或get
                })
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

        });

    })
</script>

</body>

</html>