<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="plugins/js::js"></div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body style="padding:20px">
<div>
    <div style="display: flex;align-items: center">
        <div style="width: 40%;text-align: right;margin-right: 100px">
            <img src="/images/index/logo.png"/>
        </div>
        <div style="width: 40%">
            <div style="display: flex;border: solid red 2px; ">
                <div style="width: 80%">
                    <input type="text" style="height: 30px;border: none;width: 100%">
                </div>
                <div style="color: white;background: red;padding: 5px 20px;width: 20%;text-align: center">
                    搜索
                </div>
            </div>

        </div>
        <div style="cursor: pointer;width: 20%;text-align: center;border: solid lightgray 1px ;background: rgb(245,245,245);padding: 6px;color: red;margin-left: 30px;">
            我的购物车(<span id="myCarCount" th:text="${session.carCount}">10</span>)
        </div>
        <div onclick="window.location='/pages/front/loginPage'" id="loginBtn"
             style="cursor: pointer;width: 50px;text-align: center;border: solid lightgray 1px ;background: rgb(245,245,245);padding: 6px;margin-left: 30px;">
            登录
        </div>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md-8">
            <div style="display: flex;">
                <div>
                    <img th:src="${goods.img}"/>
                </div>
                <div>右边就是信息</div>
            </div>
            <div>富文本</div>
        </div>
    </div>
</div>

<script th:inline="javascript" type="text/javascript">
    $(function () {
        layui.use(['table','form','layer'],function () {
           var table=layui.table;
           var layer=layui.layer;
           var form=layui.form;
        });
    })
</script>
</body>

</html>
